
<link rel="stylesheet" href="/css/expenses.css" type="text/css">

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navScroll" href="/"><i class="fal fa-sign-out"></i></a></li>
      </ul>
    </div>
  </nav>

<script type="text/javascript">
    var list = [];

    function exportToCsv(args) {

        var filename = args.filename || 'export.csv';

        if (!csv.match(/^data:text\/csv/i)) {
            csv = 'data:text/csv;charset=utf-8,' + csv;
        }
        data = encodeURI(csv);

        var link = document.createElement('a');
        link.setAttribute('href', data);
        link.setAttribute('download', filename);
        link.click();
    }

        

    function pushObj(name, amount, reason, date){
        var object = {
            name: name,
            amount: amount,
            reason: reason,
            date: date
        }
        list.push(object);
        console.log(name + amount + reason + date);
    }



    function convertArrayOfObjectsToCSV(args) {
        var result, ctr, keys, columnDelimiter, lineDelimiter, data;

        data = args.data || null;
        if (data == null || !data.length) {
            return null;
        }

        columnDelimiter = args.columnDelimiter || ',';
        lineDelimiter = args.lineDelimiter || '\n';

        keys = Object.keys(data[0]);

        result = '';
        result += keys.join(columnDelimiter);
        result += lineDelimiter;

       data.forEach(function(item) {
            ctr = 0;
            keys.forEach(function(key) {
                if (ctr > 0) result += columnDelimiter;

                result += item[key];
                ctr++;
               });
                result += lineDelimiter;
        });

        return result;
    }


</script>

<div class="expenses container">
  <h1 class="expHead">Expenses</h1>
  <div class="row">
      <div class="col-md-6">
        <!-- Category -->
        <div class="single category">
          <h3 class="side-title">BALANCE: <span class="pull-right">${{budget}}</span></h3>
          
          <font face = "Courier">
          <table style="width:100%">
            {{#each clubExpenses}}
            
            <tr>
              <td>{{this.date}}</td>
              <td>{{this.name}}</td>
              <td>{{this.where}}</td>
              <td>{{this.transaction}}</td>
              

              <script type="text/javascript">
                        pushObj("{{this.name}}",{{this.transaction}},"{{this.where}}", "{{this.date}}");
              </script> 
            </tr>
            {{/each}}
          </table>
          </font>
        </div>
      </div> 

    {{!-- <div class="col-md-6">
      Balance: {{budget}}
      <br>
      <ul>
      {{#each clubExpenses}}
        <li>
        <font face = "Courier">{{this.name}} ${{this.transaction}}  {{this.where}}</font>

        <script type="text/javascript">
                   pushObj("{{this.name}}",{{this.transaction}},"{{this.where}}");
        </script> 

        </li>
      {{/each}}
      </ul> --}}

        <script type="text/javascript">
            var csv = convertArrayOfObjectsToCSV({
                data: list
            });
        </script>

        <div class="col-md-4">

        <form class="expform-signin" method = "POST" action="/transaction">

            <h2 class="form-signin-heading">Complete transaction</h2>

            <label for="inputEmail" class="sr-only">Name</label>
            <input type="hidden" id="inputEmail" class="form-control" name="name" value = "{{user}}" >

            <label for="inputAmount" class="sr-only">Amount</label>
            <input type="number" id="inputPassword" class="form-control" name="amount" placeholder="0" >

            <label for="inputPassword" class="sr-only">Reason</label>
            <input type="text" id="inputPassword" class="form-control" name="where" placeholder="Description" >

            <div class="checkbox">
            </div>
            <input type = "submit" value = "Submit">
            <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
        </form>
      </div>

    </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <form class="myClubs" method = "GET" action="/clubs">
            <button class="btn" name="myClubs"><i class="fas fa-chevron-circle-left"></i></button>
        </form>
      </div>
      <div class="csvbtn col-sm-2">
        <button class="btn" onclick='exportToCsv({ filename: "club-accounts.csv" });'><i class="fas fa-download"></i></button>
      </div>
  </div>
</div>

</body>
